

.card{
    display: flex;
    flex-direction: column;
    width: 250px;
    height:350px;
    background-color: #ffff;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    align-items: center;
}

.card img{
     width: 150px;
     height: 150px;
}